@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>Клиенты:</h2>
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Главная страница (Index)</a></li>
        <li><a asp-controller="Home" asp-action="Send">Отправить сообщение (Send)</a></li>
        <li><a asp-controller="Home" asp-action="Realtime">Реальное время (Realtime)</a></li>
        <li><a asp-controller="Home" asp-action="History">История сообщений (History)</a></li>
    </ul>
</div>